<mat-toolbar color="primary" style="margin-bottom: 50px">
  <span>EDT-Maker</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon" (click)="Save()">
    <mat-icon>save</mat-icon>
  </button>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="handleClick()" href="javascript:undefined">
    <mat-icon>upload</mat-icon>
    <i class="la la-upload"></i>
  </button>
  <input class="hidden" type="file" id="upload-file" name="upload-file" accept=".json" (change)="import($event)">

  <button mat-icon-button class="example-icon"  aria-label="Example icon-button with share icon">
    <mat-icon>print</mat-icon>
  </button>
</mat-toolbar>
