<mat-toolbar color="primary" style="margin-bottom: 50px">
  <span>EDT-Maker - Accueil</span>
</mat-toolbar>


<div class="row">
  <div class="col-4"></div>
  <div class="col-4">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="justify-content-center">

      <mat-form-field class="example-full-width" appearance="fill" >
        <mat-label style="color: black">titre du programme </mat-label>
        <input matInput id="nom" (change)="changementTitre()" formControlName="nomControl">
      </mat-form-field><br/>

      <mat-form-field class="example-full-width" appearance="fill" >
        <mat-label style="color: black">code du programme </mat-label>
        <input matInput id="code" (change)="changementCode()" formControlName="codeControl">
      </mat-form-field><br/>

      <div class="text-center justify-content-center align-self-center align-items-center">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="tailleControl">
          <mat-button-toggle value="1" checked>4 Semestres</mat-button-toggle>
          <mat-button-toggle value="0">6 Semestres</mat-button-toggle>
        </mat-button-toggle-group><br/>

        <h1 style="padding-top: 20px"> le nom du fichier sera : </h1>

        <p style="border: black;font-size: 15pt">{{nomDuFichier}}</p>

        <button mat-raised-button color="primary" style="margin: 20px">Créer</button>
      </div>
    </form>
    <div class="text-center justify-content-center align-self-center align-items-center" style="padding-top: 25px">

      <hr>

      <h1>vous pouvez aussi créer depuis une sauvegarde :</h1>

      <button mat-raised-button color="primary" style="margin: 20px">Partir d'une sauvegarde</button>

    </div>
  </div>
  <div class="col-4"></div>

</div>
