<mat-toolbar color="primary" style="margin-bottom: 50px">
  <span>EDT-Maker</span>
</mat-toolbar>


<div class="container-fluid">

      <h1 style="text-align: center">Planning de cours</h1>

      <div class="example-list2 " >
        <div  class="example-box text-center align-self-center align-items-center align-content-center">Semestre :
          <div   class=" example-list" >
            <div   class="example-box2"> Semestre 1<br>
            </div>
            <div   class="example-box2"> Semestre 2<br >
            </div>
            <div  class="example-box2"> Semestre 3<br >
            </div>
            <div  class="example-box2"> Semestre 4<br >
            </div>
          </div>
        </div>
        <div class="example-box text-center align-self-center align-items-center align-content-center" *ngFor="let matiere of matieres">{{matiere.nom}}
          <div cdkDropList class="example-list"  (cdkDropListDropped)="drop($event,matiere)">
            <div class="example-box2"*ngFor="let cours of matiere.listeCours" cdkDrag>
              {{cours.nom}}<br/><div *ngIf="cours.heureDeCours!=0"> {{cours.heureDeCours}}<br/>{{cours.heureAvecDevoir}}</div>
            </div>
          </div>
        </div>
        <div  class="example-box text-center align-self-center align-items-center align-content-center">Sous total :
          <div   class=" example-list" >
            <div   class="example-box2"> {{semestre1HDC}}<br>{{semestre1HAD}} </div>
            <div   class="example-box2"> {{semestre2HDC}}<br>{{semestre2HAD}} </div>
            <div   class="example-box2"> {{semestre3HDC}}<br>{{semestre3HAD}} </div>
            <div   class="example-box2"> {{semestre4HDC}}<br>{{semestre4HAD}} </div>
          </div>
        </div>
      </div>







</div>
